<template>
  <div
    class="overflow-x-auto bg-white rounded-lg shadow overflow-y-auto relative shadow-lg mb-4"
  >
    <table
      class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative"
    >
      <thead>
        <tr class="text-left">
          <th
            v-for="(heading, index) in headings"
            :key="index"
            class="bg-gray-200 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs"
          >
            {{ heading.value }}
          </th>
        </tr>
      </thead>
      <tbody class="">
        <tr
          v-for="(brewery, index) in breweries"
          :key="index"
          class="text-sm border-dashed border-t border-gray-400 mx-3"
        >
          <td class="flex items-center">
            <a :href="`/breweries/${brewery.id}`">
              <div
                class="rounded-full h-12 w-12 bg-gray-300 text-gray-700 flex justify-center items-center text-2xl"
              >
                {{ brewery.name.substr(0, 2) }}
              </div>
            </a>
            <div class="flex flex-col text-left ml-1">
              <p class="font-bold text-gray-700">
                {{ brewery.name }}
              </p>
              <p class="text-gray-700">
                {{ brewery.phone }}
              </p>
              <p class="text-gray-600 text-xs">
                <a :href="brewery.website_url">
                  {{ brewery.website_url }}
                </a>
              </p>
            </div>
          </td>

          <td class="">
            <div class="flex flex-col text-left ml-2">
              <p class="text-gray-700">
                {{ `${brewery.street}` }}
              </p>
              <p class="text-gray-600">
                {{ `${brewery.city} ${brewery.state}  ${brewery.postal_code}` }}
              </p>
            </div>
          </td>

          <td class="">
            <div class="flex flex-col text-left mx-2">
              <p class="text-gray-700">
                {{ `${brewery.country}` }}
              </p>
              <p class="text-gray-600 text-xs">
                <a
                  :href="
                    googlemapsCoordinates(brewery.latitude, brewery.longitude)
                  "
                >
                  {{ `${brewery.latitude}, ${brewery.longitude}` }}
                </a>
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class WorkShop1Table extends Vue {
  @Prop() private title!: string;
  @Prop() private breweries!: object[];

  headings: object[] = [
    {
      key: "name",
      value: "Name",
    },
    {
      key: "address",
      value: "Address",
    },
    {
      key: "country",
      value: "Country",
    },
  ];

  googlemapsCoordinates(latitude: string, longitude: string) {
    return `https://maps.google.com/?q=${latitude},${longitude}`;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped lang="scss">
.items {
  &:first-child {
    @apply mt-8;
  }
}

td {
  @apply pr-1;
  @apply py-1;
}

td:first-child {
  @apply pl-2;
}

td:last-child {
  @apply pr-2;
}

tr:hover {
  @apply bg-gray-100;
}
</style>
