<template>
  <div
    class="shadow-lg rounded-lg bg-white mx-auto m-8 p-4 notification-box border border-gray-200"
  >
    <div class="text-sm pb-2 font-bold">
      {{ title }}
    </div>
    <slot class="text-sm text-gray-600 tracking-tight"> </slot>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class WorkShopHeader extends Vue {
  @Prop() private title!: string;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
