<template>
  <div
    class="shadow-lg rounded-lg bg-white mx-auto p-4 notification-box border border-gray-200 w-full h-48 flex flex-col justify-between"
  >
    <div class="flex justify-between">
      <div class="flex">
        <div class="flex flex-col text-left ml-1">
          <p class="font-bold text-gray-700">
            {{ brewery.name }}
          </p>
          <p class="text-gray-700">
            {{ brewery.phone }}
          </p>
          <p class="text-gray-600 text-xs">
            <a :href="brewery.website_url">
              {{ brewery.website_url }}
            </a>
          </p>
        </div>
      </div>

      <div class="flex flex-col text-left ml-2 text-right">
        <p class="text-gray-700">
          {{ `${brewery.street}` }}
        </p>
        <p class="text-gray-600">
          {{ `${brewery.city} ${brewery.state}  ${brewery.postal_code}` }}
        </p>
      </div>
    </div>
    <div class="flex justify-between">
      <div class="flex flex-col text-left mx-2">
        <p class="text-gray-700">
          {{ `${brewery.country}` }}
        </p>
        <p class="text-gray-600 text-xs">
          <a :href="googlemapsCoordinates(brewery.latitude, brewery.longitude)">
            {{ `${brewery.latitude}, ${brewery.longitude}` }}
          </a>
        </p>
      </div>
      <div class="text-right">
        <p class="text-gray-700">
          {{ brewery.brewery_type }}
        </p>
        <p class="text-gray-600 text-xs">
          {{ brewery.updated_at }}
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class WorkShopBrewery extends Vue {
  @Prop() private brewery!: object;

  googlemapsCoordinates(latitude: string, longitude: string) {
    return `https://maps.google.com/?q=${latitude},${longitude}`;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
