<template>
  <div class="container mx-auto pt-1 flex flex-col">
    <WorkShopHeader title="Workshop 1 - Consume API">
      <ol
        class="list-decimal text-sm text-gray-600 tracking-tight text-left px-8"
      >
        <li>
          Using this API
          <a
            class="text-gray-800"
            href="https://www.openbrewerydb.org/documentation"
            >openbrewerydb</a
          >
        </li>
        <li>
          Create a basic HTML/JS app that consumes the data and do the
          following: List only 10 breweries View the details of each brewery.
        </li>
        <li>
          Push the code to Git and add in this assigment the url to the repo,
          make sure is public. Also consider the good practices when using Git.
        </li>
      </ol>
    </WorkShopHeader>

    <WorkShop1Table :breweries="breweries" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import axios from "axios";

// @ is an alias to /src
import WorkShopHeader from "@/components/WorkShopHeader.vue";
import WorkShop1Table from "@/components/WorkShop1Table.vue";

@Component({
  components: {
    WorkShopHeader,
    WorkShop1Table,
  },
})
export default class Breweries extends Vue {
  private breweries: object[] = [];
  private errors: object[] = [];

  created() {
    axios
      .get(`https://api.openbrewerydb.org/breweries?per_page=10`)
      .then((response) => {
        // JSON responses are automatically parsed.
        this.breweries = response.data;
      })
      .catch((e) => {
        this.errors.push(e);
      });
  }
}
</script>
