<template>
  <div class="container mx-auto pt-1 flex flex-col justify-around">
    <WorkShopHeader title="Home of Workshops">
      Ecxample page for workshops.
    </WorkShopHeader>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

// @ is an alias to /src
import WorkShopHeader from "@/components/WorkShopHeader.vue";

@Component({
  components: { WorkShopHeader },
})
export default class Home extends Vue {}
</script>
