<template>
  <div id="app" class="bg-gray-100 min-h-screen">
    <nav>
      <ul>
        <li><a href="/breweries/">Breweries</a></li>
      </ul>
    </nav>
    <router-view />
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
